@using Application.Interactors
@using Application.Models
@using Infrastructure.Utils

@inject IArticlesInteractor _articlesInteractor

@if (_isLoading)
{
    <div>
        Loading articles...
    </div>
}
else
{
    @foreach (var article in _articleList.Articles)
    {
        <ArticleSummary Article=article />
    }
    <ArticleListPagination ActivePage="_activePage" TotalPages="getNumberOfPages(_articleList.ArticlesCount, _pageSize)" OnPageSelected="OnPageSelected" />
}



@code {

    private bool _isLoading = true;
    private Application.Models.ArticleList? _articleList;
    private int _pageSize = 10;
    private int _activePage = 1;

    private ArticleListFilter? _filter;


    [Parameter]
    public ArticleListFilter? ArticleListFilter { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        if (CompareObjects.AreEqual(ArticleListFilter, _filter)) return;
        if (ArticleListFilter == null) return;
        _filter = (ArticleListFilter)ArticleListFilter.Clone();
        await UpdateArticles(_filter);
    }


    private async Task UpdateArticles(ArticleListFilter filter)
    {
        _isLoading = true;
        _activePage = 1;
        _articleList = await _articlesInteractor.GetArticleListAsync(filter);

        _isLoading = false;
    }

    private async Task OnPageSelected(int page)
    {
        _isLoading = true;
        ArticleListFilter!.Offset = page * _pageSize;
        _articleList = await _articlesInteractor.GetArticleListAsync(ArticleListFilter);
        _activePage = page;
        _isLoading = false;
    }

    private int getNumberOfPages(int totalCount, int perPage)
    {
        return (totalCount + perPage - 1) / perPage;
    }

}
